/* Colors */
$default-blue: #0F75BC;
$default-info: #4ab9d9;
$default-green: #3fb983;
$default-red: #EA4335;
$default-yellow: #F6AB2F;
$default-dark: #444964;
$default-gray: #888888;
$default-light: #f5f7fa;
$default-borderColor: #d8d8d8;
$default-white: #FFFFFF;

$fontSize: 14px;
$fontStack: 'Roboto', sans-serif;
$fontLineHeight: 22px;
