.btn {
    border: 0;
    cursor: pointer;
    padding: 8px 30px;
    display: inline-block;
    letter-spacing: 0.4px;
    color: $default-dark;
    font-size: $fontSize;
    font-family: $fontStack;
    line-height: $fontLineHeight - 2;
    @include vendor-prefix('border-radius', '3px');
    @include vendor-prefix('transition', 'all 0.3s');
    &.btn-info {
        color: $default-white;
        background-color: $default-info;
        &:hover {
            background-color: darken($default-info, 10%);
        }
    }
    &.btn-primary {
        color: $default-white;
        background-color: $default-blue;
        &:hover {
            background-color: darken($default-blue, 10%);
        }
    }
    &.btn-dark {
        color: $default-white;
        background-color: $default-dark;
        &:hover {
            background-color: darken($default-dark, 10%);
        }
    }
    &.btn-small {
        font-weight: 500;
        font-size: 11px;
        padding: 0px 15px;
        text-transform: uppercase;
    }
    &.btn-circled {
        @include vendor-prefix('border-radius', '30px');
    }
}
